/.cask/
/.emacs.desktop.lock
/.emacs.desktop
/.mc-lists.el
/.smex-items
/auto-save-list/
/backups/
/bookmarks
/elisp/
/eshell/
/projectile-bookmarks.eld
/projectile.cache
/savehist
/speed-type/
/url/
/var/
/xkcd/
/tramp
.yas-compiled-snippets.el
/semanticdb
/network-security.data
/recentf
/tags
/games
